<!-- <div class="row">
    <div class="col-lg-12 col-sm-12">
        <label style="margin-left: 35em;padding-top:4em; color: red">Welcome to Kawneer Direct!</label>
    </div>
</div> -->
<div class="d-flex flex-row justify-content-center bd-highlight mb-3">
    <div class="p-2 w-100 bd-highlight">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 " src="../assets/images/Slide2.jpg" alt="First slide" >
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 " src="../assets/images/Slide1.jpg" alt="Second slide"
                        >
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 " src="../assets/images/Slide3.jpg" alt="Third slide" >
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>