<div class="container-fluid">
    <app-header></app-header>
    <app-menu></app-menu>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>