<section class="footer">
    <div class="d-flex flex-row justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><a href="#">LEGAL NOTICES</a></div>
        <div class="p-2 bd-highlight">
            <p class="text-muted">|</p>
        </div>
        <div class="p-2 bd-highlight"><a href="#">PRIVACY POLICY</a></div>
        <div class="p-2 bd-highlight">
            <p class="text-muted">|</p>
        </div>
        <div class="p-2 bd-highlight"><a href="#">TERMS & CONDITIONS </a></div>
        <div class="p-2 bd-highlight">
            <p class="text-muted">|</p>
        </div>
        <div class="p-2 bd-highlight"><a href="#">FAQ </a></div>
        <div class="p-2 bd-highlight">
            <p class="text-muted">|</p>
        </div>
        <div class="p-2 bd-highlight"><a href="#">CONTACT US </a></div>
        <div class="p-2 bd-highlight">
            <p class="text-muted">|</p>
        </div>
        <div class="p-2 bd-highlight"><a href="#">KAWNEER.COM </a></div>

    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight" style="text-align: center">
            <!-- <i class="fa fa-copyright" aria-hidden="true"></i> -->
            <article class="text-muted">
                laws and building and safety codes governing the design and use of glazed entrance, window and curtain
                wall
                products vary widely. Seller does not control the selection of product configurations,operating hardware
                or
                glazing materials, and assumes no responsibilty therefore
            </article>
        </div>
    </div>
</section>