<div class="d-flex flex-row bd-highlight mb-3 header">
    <div class="p-2 bd-highlight">
        
            <img src="../assets/images/kawneer_logo.JPG" >
        
    </div>
    <div class="p-2 w-100 bd-highlight">
        <section class="header">
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="fa fa-user" style="font-size:24px"></i>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="#">Sign Out</a>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="#">Eng | Fre</a>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="#">Kawneer.com</a>
                </div>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight mb-3">
                <div class="p-1 bd-highlight">
                    <label>Advanced</label>
                </div>
                <div class="p-1 bd-highlight">
                    <i class="fa fa-search" style="font-size:24px"></i>
                </div>
                <div class="p-1 bd-highlight">
                    <input class="form-control" id="GlobalSearch" placeholder="Search"
                        style="width: 400px;height:36px;">
                </div>
                <div class="p-1 bd-highlight">
                    <p-dropdown [options]="searchCategory" [style]="{'border':'1px solid lightgray'}">
                    </p-dropdown>
                </div>
            </div>
        </section>
    </div>
</div>