body, ul, li {
    font-size: 14px;
    font-family: 'Arsenal';
    line-height: 21px;
    text-align: left;
}

/* Navigation Bar */

.menu-container {
    background: -webkit-linear-gradient(to left, #93291E, #ED213A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #93291E, #ED213A);
}

#menu {
    list-style: none;
    /* width:940px; */
    margin: 6px auto 0px auto;
    height: 43px;
    padding: 0px 20px 0px 20px;
    /* Rounded Corners */
    /* -moz-border-radius: 10px;
    -webkit-border-radius: 10px; */
    /* border-radius: 10px; */
    /* Background color and gradients */
    /* background: #ED213A; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #93291E, #ED213A); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #93291E, #ED213A);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* border: 1px solid #002232; */
    /* -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff; */
    /* box-shadow: inset 0px 0px 1px #edf9ff; */
}

#menu li {
    
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 30px;
    margin-top: 7px;
    border: none;
    
    
}





#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(250, 250, 250, 0.932);
    
}

#menu li:hover a {
    color: white;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#menu li .drop {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 21px;
}

/* Drop Down */

.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
    margin: 11px auto;
    float: left;
    position: absolute;
    left: -999em;
    /* Hides the drop down */
    text-align: left;
    padding: 10px 5px 10px 5px;
    border: 1px solid #777777;
    border-top: none;
    z-index: 999;
    /* Gradient background */
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {
    width: 197px;
}

.dropdown_2columns {
    width: 280px;
}

.dropdown_3columns {
    width: 420px;
}

.dropdown_4columns {
    width: 875px;
}

.dropdown_5columns {
    width: 700px;
}

#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns, #menu li:hover .dropdown_4columns, #menu li:hover .dropdown_5columns {
    left: -1px;
    top: auto;
}

/* Columns */

.col_1, .col_2, .col_3, .col_4, .col_5 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.col_1 {
    width: 250px;
}

.col_2 {
    width: 270px;
}

.col_3 {
    width: 310px;
}

.col_4 {
    width: 550px;
}

.col_5 {
    width: 690px;
}

/* Right alignment */

#menu .menu_right {
    float: right;
    margin-right: 0px;
}

#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
    left: auto;
    right: -1px;
    top: auto;
}

/* Drop Down Content Stylings */

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    font-size: 12px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#menu h2 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 7px 0 14px 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #666666;
}

#menu h3 {
    font-size: 14px;
    margin: 7px 0 14px 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #888888;
}

#menu p {
    line-height: 18px;
    margin: 0 0 10px 0;
}

#menu li:hover div a {
    font-size: 12px;
    color: #015b86;
}

#menu li:hover div a:hover {
    color: #029feb;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.imgshadow {
    background: #FFFFFF;
    padding: 4px;
    border: 1px solid #777777;
    margin-top: 5px;
    -moz-box-shadow: 0px 0px 5px #666666;
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}

.img_left {
    /* Image sticks to the left */
    width: auto;
    float: left;
    margin: 5px 15px 5px 5px;
}

#menu li .black_box {
    background-color: #333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding: 4px 6px 4px 6px;
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* Shadow */
    -webkit-box-shadow: inset 0 0 3px #000000;
    -moz-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}

#menu li ul {
    list-style: none;
    padding: 0;
    margin: 0 0 12px 0;
}

#menu li ul li {
    font-size: 12px;
    line-height: 24px;
    position: relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding: 0;
    margin: 0;
    float: none;
    text-align: left;
    width: 130px;
}

#menu li ul li:hover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

#menu li .greybox li {
    background: #F4F4F4;
    border: 1px solid #bbbbbb;
    margin: 0px 0px 4px 0px;
    padding: 4px 6px 4px 6px;
    width: 116px;
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#menu li .greybox li:hover {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    padding: 4px 6px 4px 6px;
    margin: 0px 0px 4px 0px;
}

.mb-3, .my-3 {
    margin-bottom: 0rem!important;
}