<div class="row">
    <div class=" col-sm-12 menu-container">
        <ul id="menu" style="width: 85%">
            <li *ngFor="let navItem of navItems;let i = index">
                <a href="#" class="drop">{{navItem.DisplayName}}</a>
                <div [ngClass]="(i>3) ? 'align_right dropdown_5columns':'dropdown_2columns'" *ngIf="navItem.Children && navItem.Children.length>0">
                    <div [ngClass]="(i>3) ? 'col_3':'col_1'" *ngFor="let childNode of navItem.Children">
                        <h3>{{childNode.DisplayName}}</h3>
                        <ul *ngIf="childNode.Children && childNode.Children.length>0">
                            <li *ngFor="let child of childNode.Children">
                                <a href="#">{{child.DisplayName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>